{
  "app": {
    "secret_key": "s3cr3t",
    "oid_fed_list_path": "/list",
    "oid_fed_well_known_path": "/.well-known/openid-federation",
    "chrome_devtools_path": "/.well-known/appspecific/com.chrome.devtools.json",
    "favicon_subpath": "images/wallet_logo.svg",
    "favicon_mimetype": "image/svg+xml",
    "static_folder": "static",
    "default_host": "0.0.0.0",
    "default_port": 8080,
    "correlation_id_fallback": "N/A",
    "default_correlation_id": "default-id"
  },
  "wallet_instance": {
        "hardware_jwk": {
            "crv": "P-256",
            "d": "IfaoWxYNSI3x3BncPGVP9nGSKHZU2Ezyso-pAN7ale0",
            "kid": "ZqptgRVF3pBtqSOuYeeU4YECXxBbzzqcU2_1qvTc-mY",
            "kty": "EC",
            "use": "sig",
            "x": "V3UmZjEG6p915gdmpFkRpfihAzSCWk_TLm6FSDQ-FMs",
            "y": "SharXs2EtlPUgdp5mrZgrwQWvvMaqKhJ-U6yNXY3dfA"
        },
        "hardware_key_tag": ""
  },
  "wallet_provider": {
        "ec_duration_seconds": 1980,
        "spec_version": "1.3.3",
        "public_url": "https://wallet-provider.example.org",
        "federation_jwks": [
            {
                "crv": "P-256",
                "d": "at1IEMS_vm7N81zCm4uWW7QIfH6Mk20JgxnxdXVOHEA",
                "kid": "4xkdLZaKjzu9ZLDGLfmB-97VKUUQ5LKrc2pyRcgeCV4",
                "kty": "EC",
                "use": "sig",
                "x": "tyodfYlbu2Tm_oN40DMafZAe7eVxTdkFR7sCbStw8tw",
                "y": "NmWzXDqlAf1_b4iJEqKXkYz_80qXkEJ865qQuAbd2Rc"
            }
        ],
        "core_jwks": [
            {
                "crv": "P-256",
                "d": "MF8HwtLaUZeknPsGGSh5-IuVBjyR4QwdlJV6udR1sdk",
                "kid": "HFb6WmwssAGQA8333KO8e4LVkzDFLUpc0Aqp0xk4Pa8",
                "kty": "EC",
                "x": "TK4Mi0gchTAdZPUTRzT5wztKPklf8Qy9DWhZmDWVcO8",
                "y": "xCvEBHO3TP3BWRXvOtzliPvnUOc69pPlnDMexyPnGGM"
            }
        ],
        "authority_hints": [],
        "metadata_group": {
            "federation_entity": {
                "organization_name": "IT-Wallet Provider",
                "homepage_uri": "https://wallet-provider.example.org",
                "policy_uri": "https://wallet-provider.example.org/privacy_policy",
                "tos_uri": "https://wallet-provider.example.org/info_policy",
                "logo_uri": "https://wallet-provider.example.org/logo.svg"
            },
            "wallet_solution": {
                "logo_uri": "https://wallet-solution.example.org/compact-logo.svg",
                "wallet_metadata": {
                    "wallet_name": "Wallet X",
                    "credential_offer_endpoint": "https://wallet-solution.digital-strategy.europa.eu/credential_offer",
                    "authorization_endpoint": "https://wallet-solution.digital-strategy.europa.eu/authorization",
                    "vp_formats_supported": {
                      "dc+sd-jwt": {
                        "sd-jwt_alg_values": [
                          "ES256",
                          "ES384"
                        ]
                      }
                    },
                    "client_id_prefixes_supported": ["openid_federation", "x509_hash"],
                    "response_types_supported": [
                        "vp_token"
                        ],
                    "response_modes_supported": [
                        "query"
                        ],
                    "request_object_signing_alg_values_supported": [
                        "ES256"
                        ]
                }
            }
        }
},
  "ms_trust_configuration": {
    "IT": {
      "trust_root": "https://trust-anchor.example.org",
      "trust_framework": "oid-fed"
    }
  },
  "metadata": {
    "use_proxy": false,
    "http_proxy": "proxy.example.com:8080",
    "https_proxy": "proxy.example.com:8080",
    "no_proxy": "localhost,127.0.0.1",
    "spec_version": "v1.0.0",
    "initialize_flow": {
      "idphints": {
        "CIE3": "",
        "CIE2": "https://cie-provider.example.org",
        "SPID2": "https://demo.spid.gov.it"
      },
      "credential_configuration_id": "dc_sd_jwt_PersonIdentificationData",
      "response_mode": "query",
      "response_type": "code",
      "redirect_uri": "http://localhost:8080/itwallet/cb"
    },
    "credential_flow": {
      "_response_mode": "query",
      "response_mode": "form_post.jwt",
      "response_type": "code",
      "redirect_uri": "http://localhost:8080/itwallet/cb",
      "credential_configurations_supported": [
        "dc_sd_jwt_EuropeanDisabilityCard",
        "dc_sd_jwt_EuropeanHealthInsuranceCard",
        "dc_sd_jwt_mDL",
        "mso_mdoc_mDL",
        "dc_sd_jwt_education_degree",
        "dc_sd_jwt_education_enrollment",
        "dc_sd_jwt_residency"
      ]
    },
    "presentation_flow": {
      "response_mode": "direct_post.jwt",
      "response_type": "vp_token",
      "status_assertion_supported": false
    },
    "wallet_provider": {
      "id": "https://eid-provider.example.org",
      "key": {
        "kty": "EC",
        "d": "",
        "use": "sign",
        "crv": "P-256",
        "kid": "",
        "x": "",
        "y": ""
      }
    }
  },
  "logging": {
    "version": 1,
    "disable_existing_loggers": false,
    "formatters": {
      "default": {
        "format": "%(asctime)s [%(levelname)s] %(name)s [correlation_id=%(correlation_id)s]: %(message)s"
      }
    },
    "filters": {
      "correlation": {
        "()": "app.CorrelationIdFilter"
      }
    },
    "handlers": {
      "console": {
        "class": "logging.StreamHandler",
        "formatter": "default",
        "filters": [
          "correlation"
        ],
        "level": "INFO"
      }
    },
    "root": {
      "level": "INFO",
      "handlers": [
        "console"
      ]
    },
    "loggers": {
      "werkzeug": {
        "level": "WARNING",
        "propagate": false
      }
    }
  }
}