<div class="container">
  <div class="row">
    <div class="form-group col-md-6">
      <label for="formNome">Nome</label>
      <input type="text" class="form-control" id="formNome" value="{{ claims.given_name }}">
    </div>
    <div class="form-group col-md-6">
      <label for="formCognome">Cognome</label>
      <input type="text" class="form-control" id="formCognome" value="{{ claims.family_name }}">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="DataDiNascita">Data di nascita</label>
      <input type="text" class="form-control" id="DataDiNascita" value="{{ claims.birth_date }}">
    </div>
    <div class="form-group col-md">
      <label for="Luogo">Luogo di nascita:</label>
      <input type="text" class="form-control" id="Luogo" value="{{ claims.birth_place }}">
    </div>
    <div class="form-group col-md">
      <label for="Nazionalita">Nazionalità:</label>
      <input type="text" class="form-control" id="Nazionalita" value="{{ claims.nationalities | join(', ') }}">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="taxID">Data di nascita</label>
      <input type="text" class="form-control" id="taxID" value="{{ {{ claims.tax_id_code }} }}">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label>{{ metadata }}</label>
    </div>
  </div>
</div>