<div id="detail_template" class="modal fade credential-detail-modal-xl" tabindex="-1" role="dialog" aria-labelledby="template_detail" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title h5 no_toc" id="template_detail">Credential Detail</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi finestra modale" data-focus-mouse="false"></button>
      </div>
      <div id="modal-body-detail" class="modal-body">
      </div>
    </div>
  </div>
</div>

