<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8" />
  <title>EU Digital Wallet - Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-italia.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='wallet.css') }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <!-- Popup piccolo sotto il cestino -->
  <div id="trash-popup" class="popup-hidden">
    <div class="trash-popup-content">
      <p>Vuoi resettare il wallet?</p>
      <div class="trash-popup-buttons">
        <button id="trash-popup-confirm-btn" class="btn btn-danger">Conferma</button>
        <button id="trash-popup-cancel-btn" class="btn btn-secondary">Annulla</button>
      </div>
    </div>
  </div>
  <div class="container" style="position: relative;">
    <div class="icon-bar">
      <img src="{{ url_for('static', filename='images/memory.svg') }}" alt="Memoria" class="memory-icon" {% if not session.get('pin_authenticated') %}style="display:none;"{% endif %}/>
      <img src="{{ url_for('static', filename='images/trash-delete-icon.svg') }}" alt="Cestino" class="trash-icon" {% if not wallet_initialized %}style="display:none;"{% endif %}/>
    </div>
    <header>
      <div class="logo-with-flag">
        <img src="{{ url_for('static', filename='images/wallet_logo.svg') }}"
            alt="Digital Wallet"
            class="wallet-logo" />
        <div id="state-selected" class="flag-container">
          <img
            id="flagImage"
            class="state-flag"
            src="{{ url_for('static', filename='images/flags/4x3/' + (selected_country|lower if selected_country else 'eu') + '.svg') }}"
            alt="{{ selected_country or 'European Union' }}" />
        </div>
      </div>
      <h1>Benvenuto nel tuo Digital Wallet</h1>
    </header>
    <main>
      <div class="row">
        <div class="form-group col-md-12">
            <p class="form-label d-block mb-3">Qui puoi gestire le tue credenziali digitali in modo sicuro e conforme agli standard europei. </p>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
             <div id="result"></div>
        </div>
      </div>

      <div id="overlay" style="display:none;">
        <div class="loader"></div>
      </div>

      <div id="states" class="select-wrapper" {% if wallet_initialized %}style="display:none;"{% endif %}>
        <label for="select">Seleziona il tuo Stato Membro:</label>
        <select id="select">
          <option value="" disabled selected>-- Scegli dal menu --</option>
          <option value="IT"{% if selected_country == 'IT' %} selected{% endif %}>🇮🇹 Italia</option>
          <option value="FR"{% if selected_country == 'FR' %} selected{% endif %}>🇫🇷 Francia</option>
          <option value="DE"{% if selected_country == 'DE' %} selected{% endif %}>🇩🇪 Germania</option>
          <option value="ES"{% if selected_country == 'ES' %} selected{% endif %}>🇪🇸 Spagna</option>
          <option value="NL"{% if selected_country == 'NL' %} selected{% endif %}>🇳🇱 Paesi Bassi</option>
          <option value="BE"{% if selected_country == 'BE' %} selected{% endif %}>🇧🇪 Belgio</option>
          <option value="AT"{% if selected_country == 'AT' %} selected{% endif %}>🇦🇹 Austria</option>
          <option value="PT"{% if selected_country == 'PT' %} selected{% endif %}>🇵🇹 Portogallo</option>
          <option value="GR"{% if selected_country == 'GR' %} selected{% endif %}>🇬🇷 Grecia</option>
          <option value="IE"{% if selected_country == 'IE' %} selected{% endif %}>🇮🇪 Irlanda</option>
          <option value="PL"{% if selected_country == 'PL' %} selected{% endif %}>🇵🇱 Polonia</option>
          <option value="RO"{% if selected_country == 'RO' %} selected{% endif %}>🇷🇴 Romania</option>
          <option value="SE"{% if selected_country == 'SE' %} selected{% endif %}>🇸🇪 Svezia</option>
          <option value="FI"{% if selected_country == 'FI' %} selected{% endif %}>🇫🇮 Finlandia</option>
          <option value="DK"{% if selected_country == 'DK' %} selected{% endif %}>🇩🇰 Danimarca</option>
          <option value="CZ"{% if selected_country == 'CZ' %} selected{% endif %}>🇨🇿 Repubblica Ceca</option>
          <option value="SK"{% if selected_country == 'SK' %} selected{% endif %}>🇸🇰 Slovacchia</option>
          <option value="HU"{% if selected_country == 'HU' %} selected{% endif %}>🇭🇺 Ungheria</option>
          <option value="BG"{% if selected_country == 'BG' %} selected{% endif %}>🇧🇬 Bulgaria</option>
          <option value="HR"{% if selected_country == 'HR' %} selected{% endif %}>🇭🇷 Croazia</option>
          <option value="SI"{% if selected_country == 'SI' %} selected{% endif %}>🇸🇮 Slovenia</option>
          <option value="LT"{% if selected_country == 'LT' %} selected{% endif %}>🇱🇹 Lituania</option>
          <option value="LV"{% if selected_country == 'LV' %} selected{% endif %}>🇱🇻 Lettonia</option>
          <option value="EE"{% if selected_country == 'EE' %} selected{% endif %}>🇪🇪 Estonia</option>
          <option value="LU"{% if selected_country == 'LU' %} selected{% endif %}>🇱🇺 Lussemburgo</option>
          <option value="CY"{% if selected_country == 'CY' %} selected{% endif %}>🇨🇾 Cipro</option>
          <option value="MT"{% if selected_country == 'MT' %} selected{% endif %}>🇲🇹 Malta</option>
        </select>
      </div>
      <div id="idp" class="form-group" {% if wallet_initialized %}style="display:none;"{% endif %}>
        <fieldset>
        <legend>Scegli come verificare la tua identità</legend>
<!--        <label class="form-label d-block mb-3">Scegli come verificare la tua identità</label>-->
          <div class="form-check">
            <input  type="radio" name="idpRadio" value="CIE3" id="cie3"
                  {% if selected_idp == 'CIE3' or not selected_idp %}checked{% endif %}>
            <label  for="cie3">CIE (Livello 3)</label>
          </div>

          <div class="form-check">
            <input  type="radio" name="idpRadio" value="CIE2" id="cie2"
                  {% if selected_idp == 'CIE2' %}checked{% endif %}>
            <label  for="cie2">CIE (Livello 2)</label>
          </div>

          <div class="form-check">
            <input  type="radio" name="idpRadio" value="SPID2" id="spid2"
                  {% if selected_idp == 'SPID' %}checked{% endif %}>
            <label  for="spid2">SPID (Livello 2)</label>
          </div>
        </fieldset>
      </div>



     <div id="credentials" {% if not wallet_initialized %}style="display:none;"{% endif %}>
        <!-- Itera su tutte le credenziali -->
        {% for credential_issuer, credential_list in credential_keys.items() %}

        <!-- {% if credential_key not in ['jwt_WalletAttestation', 'dc_sd_jwt_WalletAttestation', 'mso_mdoc_WalletAttestation'] %}   ?????-->

            {% for credential_type, credential_object in credential_list.items() %}

              {% set credential_format = credential_object.get("format") %}
              {% set credential_label = (
                credential_object.get("credential_metadata", {}).get("display", [])
                | selectattr("locale", "equalto", "it-IT")
                | map(attribute="description")
                | first
              ) %}
              {% set id_credential = credential_issuer + credential_type %}
              <span class="cred-format">{{ credential_format }}</span>
              <button id="{{ id_credential }}" class="btn btn-outline-primary d-flex align-items-center flex-column" role="button">
                <!-- Puoi usare un'icona diversa per ogni tipo di credenziale -->
                <img src="{{ url_for('static', filename='images/card-violet.svg') }}" alt="{{ credential_key }}" />

                <span class="label">{{ credential_label }}</span>
              </button>
            {% endfor %}

            </div>
          {% endif %}
        {% endfor %}
         <div class="form-group">
          <div class="input-group">
            <div class="select-wrapper">
              <select id="defaultSelect2">
                <option selected="" value="">Tipo ricerca</option>
                <option value="credential_issuer">Credential Issuer</option>
                <option value="cedential_type">Tipo credenziale</option>
                <option value="attribute">attributo/i contenuti</option>
              </select>
            </div>
          </div>
          <br>
          <div class="input-group">
              <label for="input-group-search">Testo da cercare</label>
              <input type="text" class="form-control" id="input-group-search" name="input-group-search">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="search-btn">Cerca</button>
              </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
            <div class="form-group col-md-12">
                <button id="init-btn" class="btn btn-primary"{% if wallet_initialized %} style="display:none;"{% endif %}{% if not wallet_initialized %} disabled{% endif %}>
                    <span class="rounded-icon">
                      <svg class="icon icon-primary">
                          <use href="https://italia.github.io/bootstrap-italia/dist/svg/sprites.svg#it-settings"></use>
                      </svg>
                    </span>
                    <span>Inizializza</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <a href="/wallet/logout" class="btn btn-outline-danger">
                    <span class="rounded-icon">
                      <svg class="icon icon-danger">
                          <use href="https://italia.github.io/bootstrap-italia/dist/svg/sprites.svg#it-locked"></use>
                      </svg>
                    </span>
                    <span>Blocca</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
              <button id="add-btn" class="btn btn-primary"{% if not wallet_initialized %} style="display:none;"{% endif %}>
                  <span class="rounded-icon">
                    <svg class="icon icon-primary">
                        <use href="https://italia.github.io/bootstrap-italia/dist/svg/sprites.svg#it-plus"></use>
                    </svg>
                  </span>
                  <span>Aggiungi</span>
              </button>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
              <button id="rp-btn" class="btn btn-secondary"{% if not wallet_initialized %} style="display:none;" {% endif %}>
                  <span class="rounded-icon">
                    <svg class="icon icon-secondary">
                        <use href="https://italia.github.io/bootstrap-italia/dist/svg/sprites.svg#it-info-circle"></use>
                    </svg>
                  </span>
                  <span>Relying Party</span>
              </button>
            </div>
        </div>
      </div>
    </main>
  </div>
  <!-- Popup Modal Moderno -->
  <div id="cred-popup" class="modal">
    <div class="cred-popup-content">
      <button id="cred-popup-trash" class="btn btn-outline-danger" onclick="deleteCredential()">🗑️</button>
      <button id="cred-popup-close" class="btn btn-outline-secondary" onclick="closeCredPopup()">❌</button>
      <div id="cred-popup-title">&nbsp;</div>
      <div id="cred-popup-body">Caricamento...</div>
    </div>
  </div>
  <script>
    let popupHtml;
    let lastOpenedButtonId = null;
    let selectedValue = null;
    let credentialsPresenting = null;
    let rp_clientId = ""
    let rp_requestUri = ""
    let rp_requestUriMethod = "get"
    let rp_state = ""

    const SESSION_ID = "{{ session_id }}";

    const memoryIcon = document.querySelector(".memory-icon");
    const trashIcon = document.querySelector(".trash-icon");
    const trashPopup = document.getElementById("trash-popup");
    const trashPopupConfirm = document.getElementById("trash-popup-confirm-btn");
    const trashPopupCancel = document.getElementById("trash-popup-cancel-btn");

    const credPopup = document.getElementById("cred-popup");
    const credPopupTitle = document.getElementById("cred-popup-title");
    const credPopupBody = document.getElementById("cred-popup-body");
    const credPopupClose = document.getElementById("cred-popup-close");
    const credPopupTrash = document.getElementById("cred-popup-trash");

    const statesDiv = document.getElementById("states");
    const idpDiv = document.getElementById("idp");
    const credentialsBtnDiv = document.getElementById("credentials");
    const initBtn = document.getElementById("init-btn");
    const addBtn = document.getElementById("add-btn");
    const rpBtn = document.getElementById("rp-btn");
    const deleteBtn = document.getElementById("delete-btn");
    const result = document.getElementById("result");
    const spinner = document.getElementById("overlay");
    const selectElement = document.querySelector('#select');

    // Spinner cliccabile → rifocalizza popup HTML se aperto
    if (!spinner.hasPopupFocusHandler) {
      spinner.addEventListener("click", () => {
        if (popupHtml && !popupHtml.closed) popupHtml.focus();
      });
      spinner.hasPopupFocusHandler = true;
    }

    window.onload = function () {
      console.log("Tutto caricato");

      // Chiudi popup CRED con ESC
      document.addEventListener("keydown", (e) => {
        if (e.key === "Escape") {
          closeCredPopup()
        }
      });

      // --- Popup Trash ---

      // Mostra popup trash accanto all'icona
      if (trashIcon && !trashIcon.hasTrashIconHandler) {
          trashIcon.addEventListener("click", (e) => {
            if (trashPopup.classList.contains("popup-visible")) {
              trashPopup.classList.remove("popup-visible");
            } else {
              const rect = trashIcon.getBoundingClientRect();
              const top = rect.bottom + window.scrollY + 5;
              const left = rect.left + window.scrollX;

              trashPopup.style.top = `${top}px`;
              trashPopup.style.left = `${left}px`;
              trashPopup.classList.add("popup-visible");
            }
          });

          trashIcon.hasTrashIconHandler = true; // previene duplicazione listener
      }

      // Chiudi il popup trash se clicchi "Annulla"
      if (trashPopupCancel && !trashPopupCancel.hasTrashPopupCancelHandler) {
          trashPopupCancel.addEventListener("click", () => {
            trashPopup.classList.remove("popup-visible");
          });

          trashPopupCancel.hasTrashPopupCancelHandler = true; // previene duplicazione listener
      }

      // Confirm trash
      if (trashPopupConfirm && !trashPopupConfirm.hasTrashPopupConfirmHandler) {
          // Azione "Continua"
          trashPopupConfirm.addEventListener("click", async () => {
            trashPopup.classList.remove("popup-visible");
            // Qui chiama deleteWallet()

            // Mostra spinner
            spinner.style.display = "flex";

            // Ritardo opzionale per mostrare lo spinner
            await new Promise(resolve => setTimeout(resolve, 300));

            try {
              const response = await executeFetch("/itwallet/reset");

              if (!response.ok) {
                const errorMessage = await getErrorMessage(response);
                throw new Error(`${errorMessage}`);
              }

              result.innerHTML = `
                <div class="flash-container flash-success">
                  <p>Il Wallet è stato resettato correttamente</p>
                </div>`;

              if (addBtn){
                // nascondi pulsante aggiungi credenziali
                addBtn.style.display = "none";
              }

              if (rpBtn) {
                // nascondi pulsante entra con il wallet
                rpBtn.style.display = "none";
              }

              if (credentialsBtnDiv){
                // nascondi div credenziali e svuota il suo contenuto
                credentialsBtnDiv.style.display = "none";
                credentialsBtnDiv.innerHTML = "";
              }

              if (statesDiv){
                // mostra select stato membro
                statesDiv.style.display = "block";
                selectElement.value = "";
                // mostra initBtn
                if (initBtn){
                  initBtn.style.display = "inline-flex";
                  initBtn.disabled = true;
                }
              }

              if(idpDiv){
                // mostra radio button idp
                idpDiv.style.display = "block";
              }
            } catch (err) {
              const message = err?.message || "Errore sconosciuto";
              result.innerHTML = `
                <div class="flash-container flash-error">
                  <p>Fallito reset del wallet: ${message}</p>
                </div>`;
              return;
            } finally {
              // Chiudi spinner
              spinner.style.display = "none";
            }
          });
        trashPopupConfirm.hasTrashPopupConfirmHandler = true; // previene duplicazione listener
      }

      // --- Bottone inizializza ---
      if (initBtn && !initBtn.hasInitHandler) {
          initBtn.addEventListener("click", async (e) => {
          e.preventDefault();

          const selectedIdpRadio = document.querySelector('input[name="idpRadio"]:checked');

          if (!selectedIdpRadio) {
            result.innerHTML = `<div class="flash-container flash-warning"><p>⚠️ Scegli come verificare la tua identità.</p></div>`;
            return;
          }

          const selectedState = document.getElementById("select").value;

          // Validazione: se selectedState è vuoto, mostra errore e interrompi
          if (!selectedState) {
            result.innerHTML = `<div class="flash-container flash-warning"><p>⚠️ Seleziona uno Stato Membro.</p></div>`;
            return;
          }

          result.innerHTML = ``;

          // Mostra spinner
          spinner.style.display = "flex";

          const url = `/itwallet/init?idp=${selectedIdpRadio.value}&country=${encodeURIComponent(selectedState)}`;

          try {
            const response = await executeFetch(url);

            if (!response.ok) {
              const errorMessage = await getErrorMessage(response);
              throw new Error(`${errorMessage}`);
            }

            const data = await response.json();

            if (data.success) {
              result.innerHTML = "";
              const redirectUrl = data?.data?.redirect_url;

              const popupWidth = 500;
              const popupHeight = 660;

              // calcola posizione centrale
              const left = window.screenX + (window.outerWidth - popupWidth) / 2;
              const top = window.screenY + (window.outerHeight - popupHeight) / 2;

              // apre popuo HTML per effettua richiesta HTTP
              popupHtml = window.open(
                redirectUrl,
                "walletPopup",
                `width=${popupWidth},height=${popupHeight},left=${left},top=${top},resizable=yes,scrollbars=yes`
              );

              if (!popupHtml) {
                alert("Popup bloccato! Abilita i popup per questo sito.");
                return;
              }

              popupHtml.focus();

              // Monitor chiusura popup
              const popupInterval = setInterval(() => {
                try {
                  if (popupHtml.closed) {
                    clearInterval(popupInterval);
                    window.focus();
                    spinner.style.display = "none";
                  }
                } catch { /* ignorato per evitare errori cross-origin */ }
              }, 500);
            } else {
              result.innerHTML = `<div class="flash-container flash-error"><p>${data?.data?.error || "Non è stato possibile inizializzare il Wallet"}</p></div>`;
            }
          } catch (err) {
              const message = err?.message || "Errore sconosciuto";
              result.innerHTML = `<div class="flash-container flash-error"><p>Non è stato possibile inizializzare il Wallet: ${message}</p></div>`;
          } finally {
              if (!popupHtml) spinner.style.display = "none";
          }
        });

        initBtn.hasInitHandler = true; // previene duplicazione listener
      }

      // --- Bottone aggiungi credenziale al wallet ---
      if (addBtn && !addBtn.hasAddHandler) {
          addBtn.addEventListener("click", async (e) => {
          e.preventDefault();

          result.innerHTML = ``;

          // mostra popup e carica contenuto...
          credPopup.classList.add("show");
          credPopupBody.style.minHeight = "300px";
          credPopupTitle.innerHTML = "Aggiungi Credenziale";
          credPopupBody.innerHTML = `
            <div class="spinner-wrapper">
              <div class="spinner"></div>
              <p>Caricamento in corso...</p>
            </div>
          `;

          // Ritardo opzionale per mostrare lo spinner
          await new Promise(resolve => setTimeout(resolve, 300));

          try {
            const response = await executeFetch("/itwallet/credentialSupported");

            if (!response.ok) {
              const errorMessage = await getErrorMessage(response);
              throw new Error(`${errorMessage}`);
            }

            const data = await response.json();

            if (data.success) {
              const credentialTypes = data.data;
              credPopupBody.innerHTML = `
                <div class="custom-select-wrapper">
                  <div class="custom-select" id="customDropdown">
                      <div class="selected">Seleziona una credenziale</div>
                      <ul class="select-options">
                        ${credentialTypes.map(cred => `
                          <li data-id="${cred.id}">
                            <span class="icon">${cred.icon}</span>
                            <span class="label">${cred.label}</span>
                          </li>
                        `).join("")}
                      </ul>
                  </div>
                  <div class="button-wrapper">
                    <button id="confirmCredential" class="btn btn-primary" disabled>Conferma</button>
                    <button id="cancelCredential" class="btn btn-secondary" onclick="closeCredPopup()">Annulla</button>
                  </div>
                </div>
              `;

              const dropdown = document.getElementById("customDropdown");
              const selectDiv = dropdown.querySelector(".selected");
              const options = dropdown.querySelectorAll("li");
              const confirmBtn = document.getElementById("confirmCredential");
              selectDiv.addEventListener("click", () => {
                dropdown.classList.toggle("open");
              });

              options.forEach(option => {
                option.addEventListener("click", () => {
                  selectDiv.innerHTML = `${option.querySelector(".icon").textContent} ${option.querySelector(".label").textContent}`;
                  selectedValue = option.dataset.id;
                  dropdown.classList.remove("open");
                  confirmBtn.disabled = false;
                });
              });

              // Chiama la tua funzione passando il valore selezionato
              confirmBtn.addEventListener("click", () => {
                if (!selectedValue) return; // safety
                confirmAddCredential(selectedValue);
              });
            } else {
              credPopupBody.innerHTML = `<div class="flash-container flash-error"><p>${data?.data?.error || "Errore durante il recupero delle tipologie di credenziali supportate dal Wallet"}</p></div>`;
            }
          } catch (err) {
            const message = err?.message || "Errore sconosciuto";
            credPopupBody.innerHTML = `
              <div class="flash-container flash-error">
                <p>Fallito recupero tipologie di credenziali supportate dal Wallet: ${message}</p>
              </div>`;
            return;
          }
        });
        addBtn.hasAddHandler = true; // previene duplicazione listener
      }

      // --- Bottone entra con il wallet ---
      if (rpBtn && !rpBtn.hasAddHandler) {
        rpBtn.addEventListener("click", async (e) => {
            e.preventDefault();

            result.innerHTML = ``;

            // mostra popup e carica contenuto...
            credPopup.classList.add("show");
            credPopupBody.style.minHeight = "300px";
            credPopupTitle.innerHTML = "Relying Party";
            credPopupBody.innerHTML = `
              <div class="spinner-wrapper">
                <div class="spinner"></div>
                <p>Caricamento in corso...</p>
              </div>
            `;

            // Ritardo opzionale per mostrare lo spinner
            await new Promise(resolve => setTimeout(resolve, 300));

            try {
              const response = await executeFetch("/itwallet/onboardedRelyingParties");

              if (!response.ok) {
                const errorMessage = await getErrorMessage(response);
                throw new Error(`${errorMessage}`);
              }

              const data = await response.json();

              if (data.success) {
                const relyingParties = data.data;
                credPopupBody.innerHTML = `
                  <div class="custom-select-wrapper">
                    <div class="custom-select" id="customDropdown">
                        <div class="selected">Seleziona un Relying Party</div>
                        <ul class="select-options">
                          ${relyingParties.map(rp => `
                            <li data-id="${rp.id}">
                              <span class="icon">${rp.icon}</span>
                              <span class="label">${rp.label}</span>
                            </li>
                          `).join("")}
                        </ul>
                    </div>
                    <div class="textarea-wrapper">
                      <div class="label-with-icon">
                        <label for="extraInfo">QR Code content</label>
                        <img src="/static/images/qr-code-icon.svg" alt="Importa QR" id="qr-icon" onclick="apriQrPopup()" />
                      </div>
                      <textarea id="extraInfo" rows="5" placeholder="Scrivi qui..." disabled></textarea>
                    </div>
                    <div class="button-wrapper">
                      <button id="confirmLoginRP" class="btn btn-primary" style="width: 200px;"  disabled>Entra con il Wallet</button>
                    </div>
                  </div>
                `;

                const dropdown = document.getElementById("customDropdown");
                const selectDiv = dropdown.querySelector(".selected");
                const options = dropdown.querySelectorAll("li");
                const textArea = document.getElementById("extraInfo");
                const confirmBtn = document.getElementById("confirmLoginRP");

                selectDiv.addEventListener("click", () => {
                  dropdown.classList.toggle("open");
                });

                options.forEach(option => {
                  option.addEventListener("click", () => {
                    selectDiv.innerHTML = `${option.querySelector(".icon").textContent} ${option.querySelector(".label").textContent}`;
                    selectedValue = option.dataset.id;
                    dropdown.classList.remove("open");
                    confirmBtn.disabled = false;
                    textArea.disabled = false;
                  });
                });

                // Chiama la tua funzione passando il valore selezionato
                confirmBtn.addEventListener("click", () => {
                  if (!selectedValue) return; // safety
                  loginToRelyingParty(selectedValue);
                });
              } else {
                credPopupBody.innerHTML = `<div class="flash-container flash-error"><p>${data?.data?.error || "Errore durante il recupero delle tipologie di credenziali supportate dal Wallet"}</p></div>`;
              }
            } catch (err) {
              const message = err?.message || "Errore sconosciuto";
              credPopupBody.innerHTML = `
                <div class="flash-container flash-error">
                  <p>Fallito recupero tipologie di credenziali supportate dal Wallet: ${message}</p>
                </div>`;
              return;
            }
          });
        rpBtn.hasAddHandler = true; // previene duplicazione listener
      }

      // --- Icona memory ---
      if (memoryIcon && !memoryIcon.hasMemoryIconHandler) {
          memoryIcon.addEventListener("click", async (e) => {
          e.preventDefault();

          result.innerHTML = ``;

          // mostra popup e carica contenuto...
          credPopup.classList.add("show");
          credPopupBody.style.minHeight = "300px";
          credPopupTitle.innerHTML = "Ispeziona memoria";
          credPopupBody.innerHTML = `
            <div class="spinner-wrapper">
              <div class="spinner"></div>
              <p>Caricamento in corso...</p>
            </div>
          `;

          // Ritardo opzionale per mostrare lo spinner
          await new Promise(resolve => setTimeout(resolve, 300));

          try {
            const response = await executeFetch("/itwallet/objectTypesInMemory");

            if (!response.ok) {
              const errorMessage = await getErrorMessage(response);
              throw new Error(`${errorMessage}`);
            }

            const data = await response.json();

            if (data.success) {
              const objectTypes = data.data;

              // Trasformiamo le stringhe in oggetti più ricchi (id, label, icon)
              const mappedTypes = objectTypes.map(type => {
                return {
                  id: type,
                  label: type,
                  icon: "📦"
                };
              });

              credPopupBody.innerHTML = `
                <div class="custom-select-wrapper">
                  <div class="custom-select" id="customDropdown">
                      <div class="selected">Seleziona una tipologia di oggetto</div>
                      <ul class="select-options">
                        ${mappedTypes.map(objectType => `
                          <li data-id="${objectType.id}">
                            <span class="icon">${objectType.icon}</span>
                            <span class="label">${objectType.label}</span>
                          </li>
                        `).join("")}
                      </ul>
                  </div>
                  <div class="button-wrapper">
                    <button id="confirmCredential" class="btn btn-primary" onClick="confirmViewObjectTypeInMemory()" disabled>Visualizza</button>
                  </div>
                </div>
              `;

              const dropdown = document.getElementById("customDropdown");
              const selectDiv = dropdown.querySelector(".selected");
              const options = dropdown.querySelectorAll("li");
              const confirmBtn = document.getElementById("confirmCredential");
              selectDiv.addEventListener("click", () => {
                dropdown.classList.toggle("open");
              });

              options.forEach(option => {
                option.addEventListener("click", () => {
                  selectDiv.innerHTML = `${option.querySelector(".icon").textContent} ${option.querySelector(".label").textContent}`;
                  selectedValue = option.dataset.id;
                  dropdown.classList.remove("open");
                  confirmBtn.disabled = false;
                });
              });

              // Chiama la tua funzione passando il valore selezionato
              confirmBtn.addEventListener("click", () => {
                if (!selectedValue) return; // safety
                confirmViewObjectTypeInMemory(selectedValue);
              });
            } else {
              credPopupBody.innerHTML = `<div class="flash-container flash-error"><p>${data?.data?.error || "Errore durante il recupero delle tipologie di oggetti in memoria"}</p></div>`;
            }
          } catch (err) {
            const message = err?.message || "Errore sconosciuto";
            credPopupBody.innerHTML = `
              <div class="flash-container flash-error">
                <p>Fallito recupero tipologie di oggetti in memoria: ${message}</p>
              </div>`;
            return;
          }
        });
        memoryIcon.hasMemoryIconHandler = true; // previene duplicazione listener
      }

      // Chiudi trashPopup se clicchi fuori
      document.addEventListener("click", (e) => {
        if (!trashPopup.contains(e.target) && !trashIcon.contains(e.target)) {
          trashPopup.classList.remove("popup-visible");
        }
      });

      // --- Bottone mostra credenziale ---
      document.addEventListener("click", async (e) => {
        if (e.target.closest(".btn-outline-primary")) {
          const button = e.target.closest(".btn-outline-primary");
          lastOpenedButtonId = button.id;
          console.log("Aperto popup da bottone id:", lastOpenedButtonId);

          // cancello eventuali messaggi
          result.innerHTML = "";

          // disabilito il pulsante
          button.disabled = true;

          // mostra popup e carica contenuto...
          credPopup.classList.add("show");
          credPopupBody.style.minHeight = "300px";
          credPopupTitle.innerHTML = `Gestione Credenziale (${tagCredenziale(lastOpenedButtonId)})`;
          credPopupBody.innerHTML = `
            <div class="spinner-wrapper">
              <div class="spinner"></div>
              <p>Caricamento in corso...</p>
            </div>
          `;

          // Ritardo opzionale per mostrare lo spinner
          await new Promise(resolve => setTimeout(resolve, 300));

          try {
            const response = await executeFetch("/wallet/template/" + button.id);

            if (!response.ok) {
              const errorMessage = await getErrorMessage(response);
              throw new Error(`${errorMessage}`);
            }

            const html = await response.text();
            credPopupBody.innerHTML = html;
          } catch (err) {
            const message = err?.message || "Errore sconosciuto";
            credPopupBody.innerHTML = `
              <div class="flash-container flash-error">
                <p>Fallito caricamento del template: ${message}</p>
              </div>`;
          } finally {
            // abilita il pulsante
            button.disabled = false;
          }
        }
      });
    }

    // Ricezione eventi
    window.addEventListener("message", async (event)  => {
      if (event.data?.event === "wallet_flow_complete") {
        spinner.style.display = "flex";
        spinner.classList.add("force-visible");
        result.innerHTML = `<div class="flash-container flash-success"><p>Hai completato il processo di autenticazione, attendi il recupero del PID...</p></div>`;

        try {
          const response = await executeFetch("/itwallet/init/complete", "GET");

          if (!response.ok) {
              const errorMessage = await getErrorMessage(response);
              throw new Error(`${errorMessage}`);
          }

          const data = await response.json();

          if (data.success) {
            const credential_id = data?.data?.credential_id;
            result.innerHTML = `
              <div class="flash-container flash-success">
                <p>Wallet inizializzato con successo!</p>
              </div>`;

            // Aggiungi bottone credenziale
            addButton(credential_id);

            initBtn.style.display = "none";
            addBtn.style.display = "inline-flex";
            rpBtn.style.display = "inline-flex";
            statesDiv.style.display = "none";
            idpDiv.style.display = "none";
            credentialsBtnDiv.style.display = "flex";
            trashIcon.style.display = "block";
            memoryIcon.style.display = "block";
          } else {
            result.innerHTML = `<div class="flash-container flash-error"><p>${data?.data?.error || "Errore generico"}</p></div>`;
            spinner.style.display = "none";
          }
        } catch (error) {
          result.innerHTML = `<div class="flash-container flash-error"><p>${error.message || "Errore sconosciuto"}</p></div>`;
          spinner.style.display = "none";
        } finally {
          spinner.classList.remove("force-visible");
          spinner.style.display = "none";
        }
      }
    });

    // --- Aggiorna bandierina ---
    function updateFlag(selectedValue) {
        const selected = selectedValue.toLowerCase();
        const flagDiv = document.getElementById("state-selected");
        const flagImg = document.getElementById("flagImage");

        if (selected) {
          flagImg.src = `/static/images/flags/4x3/${selected}.svg`;
          flagImg.style.display = "block";
        } else {
          flagImg.src = `/static/images/flags/4x3/eu.svg`;
          flagImg.style.display = "block";
        }
    }


    // --- Event listener per select ---
    selectElement.addEventListener('change', function(event) {
      updateFlag(event.target.value);
      initBtn.disabled = false;
    });
  </script>
  <script src="/static/js/wallet-utils.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-italia@2.18.0/dist/js/bootstrap-italia.bundle.min.js"></script>
</body>
</html>
