<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>Accesso al Wallet</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='wallet.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-italia.min.css') }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <header>
      <img src="{{ url_for('static', filename='images/wallet_logo.svg') }}" alt="Digital Wallet" />
      <h1>Sblocca il tuo Digital Wallet</h1>
    </header>
    <main>
      <p>Inserisci il PIN che hai scelto in fase di attivazione per accedere in modo sicuro al tuo Digita Wallet.</p>
        <div class="flash-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% set first_category = messages[0][0] %}
            <div class="flash-container flash-{{ first_category }}">
              {% for category, message in messages %}
                <p>{{ message }}</p>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
      </div>
      <form class="access-form" action="/wallet/access" method="post">
        <div class="form-group">
          <label for="pin_attempt">PIN</label>
          <input type="password" data-bs-input class="form-control input-password" id="pin_attempt" name="pin_attempt"  aria-describedby="confirmPassword" pattern="\d{4,8}"required>
          <button type="button" class="password-icon btn" role="switch" aria-checked="false">
            <span class="visually-hidden">Mostra/Nascondi Password</span>
            <svg class="password-icon-visible icon icon-sm" aria-hidden="true"><use href="https://italia.github.io/bootstrap-italia/dist/svg/sprites.svg#it-password-visible"></use></svg>
            <svg class="password-icon-invisible icon icon-sm d-none" aria-hidden="true"><use href="https://italia.github.io/bootstrap-italia/dist/svg/sprites.svg#it-password-invisible"></use></svg>
          </button>
          <p id="confirmPassword" class="form-text text-muted d-block small pb-0">PIN</p>
        </div>
<!--        <div class="form-group">-->
<!--          <label for="pin_attempt">PIN</label>-->
<!--          <input type="password" id="pin_attempt" name="pin_attempt" pattern="\d{4,8}" required>-->
<!--        </div>-->
<!--        <button type="submit" class="btn-access">🔓 Accedi</button>-->
        <button type="submit" class="btn btn-primary">🔓 Accedi</button>
      </form>
    </main>
  </div>
</body>
</html>
